
$bubble-d: 3.5rem; // bubble diameter
$bubble-r: .5*$bubble-d; // bubble-radius

$particle-d: 0.375rem; // particle diameter
$particle-r: 0.4 * $particle-d; // particle-radius

$heartRed: #e2264d;
$heartGrey: #aab8c2;

@mixin particles($k) {
  $shadow-list: ();
  $n-groups: 8;
  $group-base-angle: 360deg / $n-groups;
  $group-distr-r: (1 + $k * 0.2)*$bubble-r;
  $spread-r: -$k * $particle-r;

  @for $i from 0 to $n-groups {
    $n-particles: 2; //randomNum(2,5)
    $particle-base-angle: 360deg / $n-particles;
    $particle-off-angle: 60deg; // offset angle from radius - randomNum(40,floor(360/$n-particles))
    $group-curr-angle: $i * $group-base-angle - 90deg;
    $xg: $group-distr-r * cos($group-curr-angle);
    $yg: $group-distr-r * sin($group-curr-angle);

    @for $j from 0 to $n-particles {
      $particle-curr-angle: $group-curr-angle +
        $particle-off-angle + $j * $particle-base-angle;
      $xs: $xg + $particle-d * cos($particle-curr-angle);
      $ys: $yg + $particle-d * sin($particle-curr-angle);

      $shadow-list: $shadow-list, $xs $ys 0 $spread-r
      hsl(($i + $j) * $group-base-angle, 100%, 75%);
    }
  }

  box-shadow: $shadow-list;
}

@mixin bubble($ext) {
  border-color: #cc8ef5;
  border-width: $ext;
  transform: scale(1);
}

@keyframes heart {
  0%,
  17.5% { font-size: 0; }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-6px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(6px, 0, 0);
  }
}

@keyframes bubble {
  15% { @include bubble($bubble-r); }
  30%, 100% { @include bubble(0); }
}

@keyframes particles {
  0%, 15% { opacity: 0; }
  40% {
    opacity: 1;
    @include particles(0);
  }
}

@keyframes heartcolor {
  0% { color: $heartRed; }
  100% { color: $heartGrey; }
}

.heart-container {
  width: 200px;
  height: 20px;
  margin: 20px 0 10px;
}

.heart-box {
  display: inline-flex;
  justify-content: center;  //horizontal alignment
  margin: 0;
  height: inherit;
  width: 20px;
}

.heart-count-text {
  margin-left: 10px;
  font-size: 10px;
  display: inline-block;
  position: absolute;
  .heart-count:not(.zeroCount) {
    color: $heartRed;
  }
}

.toggle-heart {
  position: absolute;
  left: -100vw;

  &.notLoggedIn + .toggle-heart-label {
    cursor: default !important;
    color: $heartRed;
  }

  &:checked + .toggle-heart-label {
    color: $heartRed;
  }

  &:checked:not(.toggled):not(.notLoggedIn) + .toggle-heart-label {
    will-change: font-size, transform;
    animation: heart 1s cubic-bezier(.17, .89, .32, 1.49), shake 0.5s linear 1s;

    &:before, &:after {
      animation-delay: 0s;
      animation-duration: 1s;
      animation-timing-function: cubic-bezier(.21, .61, .35, 1);
    }

    &:before {
      will-change: transform, border-color, border-width;
      animation-name: bubble;
    }

    &:after {
      will-change: opacity, box-shadow;
      animation-name: particles;
      animation-duration: 3.5s;
    }
  }

  &.untoggle:not(:checked) + .toggle-heart-label {
    will-change: color;
    animation: heartcolor 1s ease-out;
  }
}

.toggle-heart-label {
  color: $heartGrey;
  font-size: 2em;
  cursor: pointer;
  align-self: center;

  &:before, &:after {
    position: absolute;
    z-index: -1;
    top: 50%; left: 50%;
    border-radius: 50%;
    content: '';
  }

  &:before {
    box-sizing: border-box;
    margin: -$bubble-r;
    border: solid $bubble-r #e2264d;
    width: $bubble-d;
    height: $bubble-d;
    transform: scale(0);
  }

  &:after {
    margin: -$particle-r;
    width: $particle-d;
    height: $particle-d;
    opacity: 0;
    @include particles(1);
  }
}